main
{
    max-width: 1140px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px ;
}
.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.primary-btn
{
    width: 180px;
    height: 64px;
    font-size: 1.25em;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    background-color: #FF900E;
    color:#FFFFFF ;

}
.display-flex
{
    display: flex;
}
ul li{
    text-decoration: none;
}
.color-dark1
{
    color: #131313;
}
.color-dark2
{
    color: #424242;
}
.color-dark3
{
    color: #727272;
}
.color-3
{
    color: #FF900E;
}
.bg-color
{
    background-color:  rgba(255, 143, 14, 0.1);
}
.brand
{
    font-size: 3rem;
    font-weight: 700;
}
.navbar
{
    justify-content: space-between;
    align-items: center;
}
.nav-item
{
    list-style: none;
    margin-left: 30px;
}
.nav-link
{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #424242;
}
.navbar, .banner
{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0px 50px;


}
.banner-content
{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title
{
    font-size: 4rem;
    font-weight: 700;
}
.image-size
{
   width: 100%;
}
.sub-banner
{
    align-items: center;
    /* max-width: 1140px; */
}
.image-container
{
    display: grid;
    gap:24px;
    grid-template-columns: repeat(2,1fr);
}
.our-features
{
    max-width: 550px;
    margin-left: 73px;
    
}
.section-title
{
    font-size: 2.8rem;
    font-weight: 700;
}
#quick-list
{
   font-weight: 500;
}
.feature-description
{
    font-size: 1rem;
}
.ex-feat-title
{
   max-width: 468px;
   height: 106px;
}
.extended-feature
{
  max-width: 586px;
  height: 982px;
}
.features-provide
{
    margin: 30px;

}
.feat-title-descrip
{
    font-size: 1rem;
}
/* responsive media query */
@media screen and (max-width:576px){
    .navbar, .nav-links, .sub-banner {
        flex-direction: column;
    }
    .image-container
    {
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features
    {
        margin-left: 20px;
    }

}
@media screen and (min-width:576px) and (max-width:992px) {
    .sub-banner {
        flex-direction: column;
    }
    .our-features
    {
        margin-left: 50px auto;
    }
    
}